{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html"><span class="logo_colour">E-acquire</span></a></h1>
          <h3>"DONT LET THIS SALE SLIP AWAY"</h3>
        </div>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">

	  <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <!-- insert your sidebar items here -->
            <h3>Products we sell</h3>
            <ul>
              <li>-Electonics</li>
              <li>-clothings</li>
                <li>-Home decorators</li>
                <li>-shoes</li>
                <li>-Ebooks</li>
                <li>-Accessories</li>

            </ul>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Payment options</h3>
            <ul>
              <li><a href="https://www.paypal.com/in/home/">Paypal</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Debit_card">Debit/credit cards</a></li>

            </ul>
          </div>
        </div>
      </div>
      <div id="content">
        <!-- insert the page content here -->
        <h1>Welcome to E-acquire</h1>
          <p>E-commerce is revolutionizing the way we all shop in India.
              Why do you want to hop from one store to another in search of the latest phone when you can find it on the Internet in a single click? Not only mobiles.
              E-acquire houses everything you can possibly imagine, from trending electronics like laptops, tablets, smartphones, and mobile accessories to in-vogue fashion staples like shoes, clothing and lifestyle accessories; from modern furniture like sofa sets, dining tables, home decorators and wardrobes to appliances that make your life easy like washing machines, TVs, ACs, mixer grinder juicers and other time-saving kitchen and small appliances; from home furnishings like cushion covers, mattresses and bedsheets to toys and musical instruments, we got them all covered.
 You name it, and you can stay assured about finding them all here. For those of you with erratic working hours, E-acquire is your best bet. Shop in your PJs, at night or in the wee hours of the morning.
 This e-commerce never shuts down.</p>
        <h2>Our special features</h2>
        <p>We know you are busy people.So we got you covered</p>
        <ul>
          <li>-Shop without even having an actual account.</li>
          <li>-Your cart information will always be saved in your browser</li>
          <li>-Your safety and time are our utmost priority.</li>
        </ul>
      </div>
    </div>

  </div>

{% endblock content %}