{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">
          <!--{% static 'img\overlays\pic2.PNG' %}"-->

          <img src="{{ product.imageURL }}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{ product.name }}</span>
              </a>
            </div>

            <p class="lead">

              <span>{{product.price|floatformat:2}}rs</span>

            </p>

            <p class="lead font-weight-bold">Description</p>
            <p>{{ product.description }}</p>

            <p>{{ product.name }}</p>
            <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-success add-btn update-cart">Add to Cart</button>
            <button data-product="{{product.id}}" data-action="remove" class="btn btn-outline-danger add-btn update-cart">Remove From Cart</button>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->



    </div>
  </main>



{% endblock content %}